[build]
  command = "npm run build"
  publish = "dist/public"

[[redirects]]
  from = "/thumbnail.png"
  to = "/thumbnail.png"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
